version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    target-branch: "dev"
    schedule:
      interval: weekly
    ignore:
      - dependency-name: "github.com/aws/aws-sdk-go"
        update-types: ["version-update:semver-patch"]
    open-pull-requests-limit: 10
    pull-request-branch-name:
      separator: "-"
    reviewers:
      - "abrahamcruise321"
      - "DarianShawn"
      - "0xcb9ff9"
