---
name: Lint
on: # yamllint disable-line rule:truthy
  push:
    branches-ignore:
      - "main"
      - "dev"
    tags-ignore:
      - "v*"
    paths:
      - "**.go"
  workflow_call: {}
  workflow_dispatch: {}
  pull_request:

jobs:
  golangci_lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.17.x"

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Lint
        uses: golangci/golangci-lint-action@v3
